@font-face {
    font-family: "pixel";
    src: url('/pixeboy-font/Pixeboy-z8XGD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url(/theme1.gif);
    background-size: cover;
    z-index: -1;
    background-position-y: 100%;
    background-repeat: no-repeat;

}

.container.theme1{
    background-image: url(/theme1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}


.container.theme2{
    background-image: url(/theme2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
   
    
}

.container.theme3{
    background-image: url(/theme3.gif);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center center;
}

.container.theme4{
    background-image: url(/theme4.gif);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-position-y: 0;
}

.theme-button{
    z-index: 11;
    border: none;
    background-color: transparent;
    display: flex;
    padding: 11px;
    color: white;
    font-family: 'pixel';
    position: absolute;
    

}

.theme-button:hover{
    filter: drop-shadow(0 0 10px rgba(0, 145, 255, 0.8));
    cursor: pointer;
}


